/*This file contains all styles related to the button component.*/
.btn-primary {
    background-color: $accent-color;
    border-color: $dark-accent-color;
    font-weight: bold;
    font-size: 1em;
}

.btn-primary:hover {
    background-color: $dark-accent-color;
}